.grid {
  width: 600px;
  height: 600px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 40px;
  height: 40px;
  
}

.alien {
  background-image: url('../assets/space-invaders-icons/saucer2b.ico');
  background-position: center;
  border-radius
  background-color: black
}
.player {
  background-image: url('../assets/space-invaders-icons/baseshipb.ico');
  background-position: center;
  border-radius: 50%;
  background-color: black
}
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  margin-bottom: 50px;
}
