@font-face {
  font-family: myfont;
  /* src: url('../assets/zig/zig_____.ttf'); */
  src: url('../assets/bitwise/bitwise.ttf');
}

.grid {
  width: 850px;
  height: 400;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 20px;
}

.grid div {
  width: 40px;
  height: 30px;
  text-align: center;
  
} 
.score {
  color: red;
  font-family: myfont;
  font-size: 30px;
}
  
.life, p {
  color: rgb(0, 255, 0);
  font-family: myfont;
  font-size: 30px;
}

.alien {
  background: url('/assets/purple\ gif.gif');
  /* background-position: center; */
  /* background-image: url('../assets/367629_invader_space-invaders_game_space\ invaders_icon\ \(2\).png'); */
  /* background-position: center; */
  /* border-radius: 2px solid white; */
  /* background-color: black */
  background-size: cover;
}
.player {
  background-image: url('../assets/space-invaders\ \(1\).png');
  /* background-image: url('../assets/ship\ 22.gif'); */
  /* background-size: cover; */
  /* background-image: url('../assets/giphy.gif'); */
  /* background: url('../assets/giphy.gif'); */
  background-position: center;
  /* background-color: black; */
}
body {
  margin: auto 0;
  background-color:rgb(0, 2, 36);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: url('/assets/5888d7b2696e39f2be7b972622348632_w200.webp');
  
}
.hero {
  margin-top: 20px;
}
.start-button {
  padding-top: 5px;
  font-family: myfont;
  margin: 10px;
  font-size: 30px;
  border: 1px solid rgb(251, 255, 0);
  width: 120px;
  text-align: center;
  border-radius: 5px;
  color: rgb(251, 255, 0);
  background-color: rgba(41, 3, 131, 0.8);
  /* outline: none; */
  transition: ease-out 0.3s;
  transition: ease-in 0.3s;
  box-shadow: inset 0 0 0 0 rgb(251, 255, 0);
  transform: perspective(1em) rotateX(7deg) scale(1, 1)
}
.start-button:hover {
  cursor: pointer;
  background-color: rgb(251, 255, 0); 
  color: rgba(41, 3, 131, 0.8);
  outline: none;
  box-shadow: inset 300px 0 0 0 rgb(251, 255, 0);
}
.laser {
  /* background-color: greenyellow; */
  border-radius: 20px;
  background: rgb(225, 0, 255) 50%;
  background: url('/assets/laser\ giphy.gif');
  background-size: cover;
}
.score {
  color: white
}
.game-over {
  /* display: none; */
  
  background: tomato;
  /* background-size: cover; */
  
}
.bom {
background: url('/assets/boom\ gif.gif');
background-size: cover;
/* background-color: rgb(0, 255, 42);
border-radius: 20px; */
}
.player-die {
  display: none
}
main {
  display: contents;
}
img {
  width: 30%;
  height: 30%;
}
p {
  margin-bottom: 5px;
  margin-top: 15px;
}